.App {
  text-align: center;
  display: flex;
}

table.grid tbody tr td {
  width: 16px;
  height: 16px;
  border-collapse: collapse;
  border: solid 1px silver;
}

td.head {
  background-color: red;
}
td.tail {
  background-color: darkred;
}
td.food {
  background-color: darkgreen;
}
